
<form action="/dishes/<%= @dish['id'] %>" method="post">
  <input type="hidden" value="patch" name="_method">
  <label for="">name</label>
  <input type="text" name="name" value="<%= @dish['name'] %>">

  <label for="">image url</label>
  <input type="text" name="image_url" value="<%= @dish['image_url'] %>">

  <button>update dish</button>
</form>