<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  
  <header>heading!!!!!</header>

  <%= yield %>

  <footer>&copy; 2002</footer>
</body>
</html>