<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  
  <form action="/">
    <label for="">name</label>
    <input type="text" name="who" >
    <button>tell me the price</button>
  </form>

  <p>the price for <%=  %> is <%= @price %></p>

</body>
</html>