<h1>goodfoodhunting</h1>
<div class="ui-card">
  <header class="content">
    <div class="right">14h</div>
    <img class="avatar" src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97200&w=200&h=200" alt=""> DT
  </header>

  <div class="image">
    <img src="http://i.imgur.com/vkWXRmE.jpg" alt="">
    <span class="star">&#9733;</span>
  </div>

  <div class="content">
    <h2>cakepudding</h2>
    <h4>at GA</h4>  
  </div>

  <footer class="content">
    <span class="right">25</span>
    <span>bookmark</span>
  </footer>
</div>

<div class="ui-card">
  <header class="content">
    <div class="right">14h</div>
    <img class="avatar" src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97200&w=200&h=200" alt=""> DT
  </header>

  <div>
    <img src="http://i.imgur.com/vkWXRmE.jpg" alt="">
  </div>

  <div class="content">
    <h2>cakepudding</h2>
    <h4>at GA</h4>  
  </div>

  <footer class="content">
    <span class="right">25</span>
    <span>bookmark</span>
  </footer>
</div>





