.search {
  background-color: pink;
  display: flex;
}

.search input {
  width: 70%;
}

.search button {
  width: 30%;
}

.list {
  background-color: linen;
}

.item {
  display: flex;
  margin-bottom: .5em;
}

.image {
  width: 25%;
  background-color: yellow
}

.desc {
  width: 50%;
  background-color: lime
}

.like {
  width: 25%;
  background-color: plum
}